:root {
  --body-color: #292929; /* общий фон */

  --bg-body: #424242;


  --title-color: #ffffff; /* цвет заголовков */
  --subtitle-color: #B4BBC5;/* цвет подзаголовков */

  --nav-link-color: #ffffff; /* цвет ссылок в навигации */

  --accent-color: #BB86FC; /* основной цвет тем */

  --bg-hover: #ffffff1f;

  --banner-title: rgb(255, 187, 60);

  --box-shadow: 0 1px 2px #61616140;
  
  --line-footer: 1px solid #777777;

  --bg-footer: var(--body-color);

  --label-color: rgba(255, 255, 255, 0.38); /* цвет текста label, placeholder */

  --swiper-color: #c392ff57;

  --help-detail-color: var(--subtitle-color);

  /* dropdown */
  --dropdown-button-bg: #292929;
  --dropdown-border-color: rgba(255, 255, 255, 0.3);
  --dropdown-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);

  --dropdown-shadow: #00000050;

  /* search-menu*/
  --search-menu-shadow: rgba(0, 0, 0, 0.473);


  
    /* btn-search*/
    --btn-search: radial-gradient(circle at center, #b277fc 0%, #a66aee 40%, #8243ce 57.5%, #602ba0 75%, #602ba0 100%);
}

/* logo */
.header-logo svg path {
  fill: var(--accent-color);
}

.card-text__rating, .card-text__title, .card-text svg path {
  color: var(--title-color);
  fill: var(--subtitle-color);
}

.text-secondary {
  color: var(--subtitle-color);
}


/* btn-primary */
.btn-primary {
  --button-bg-color: #BB86FC;
  --button-content-color: #000000;
}

.btn-airbnb,
.log-in_link {
  background-image: radial-gradient(circle at center, #b277fc 0%, #a66aee 27.5%, #8243ce 40%, #602ba0 57.5%, #4e08a3 75%, #3108a3 100%);
}

/* btn-dark */
/*.btn-dark {
  --button-content-color: #222222;
  --button-bg-color: #ffffff;
}*/




/* forms */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
  --input-bg-color: transparent;
  --input-border-color: rgba(255, 255, 255, 0.6);
  --input-text-color: rgba(255, 255, 255, 0.87);
}

input:not([type="checkbox"]):focus,
textarea:focus {
  --box-shadow: inset 0 0 0 2px #BB86FC;
}


.price-current {
  color: var(--title-color);
}

.footer-top__column h3 {
  color: #777;
}

.footer-bottom__row h3 {
  color: var(--title-color);
}

.footer-bottom__row:nth-child(1) .footer-link::before {
  background: var(--title-color);
}

.footer-bottom__row button {
  color: var(--title-color);
}

.footer-buttom_row button:hover {
  background-color: var(--bg-hover);
}

.mr-8:hover {
  background-color: var(--bg-hover);
}

/* чекбокс в модалке */
.modal-checkbox {
  --checkbox-bg-color-default: transparent;
  --checkbox-bg-color-checked: #BB86FC;
  --checkbox-mark-color: #222222;
  --checkbox-border-color: rgba(255, 255, 255, 0.6);
}

.dropdown-line {
  --dropdown-line: var(--bg-hover);
}

.block-image {
  --image-color: var(--bg-hover);
}

.tabs-btn__active::after {
  --tabs-after:   #7300ff ;
}